html,body {
	height: 100%;   		
}
    	
#header-toolbar{
	background-image: url('../img/toolbar_bg.png');
	width:auto;
	height: 40px;
	text-align:center;
	font:"Arial Black";
	color: #fff;
	font-size:200%;
	padding-top: 10px;
}
#left-btn{
	
	margin-left: 10px;
	margin-right: auto;
}
#right-btn{
	margin-right: 10px;
	margin-left: auto;
}
#footer-toolbar{
	background-image: url('../img/toolbar_bg.png');
	width:auto;
	height: 30px;
}

#wrapper{
	width: auto;
	background-color:#ffffff;
}

#content{
	width: auto;
	text-align:center;
}

.form-content{
	padding: 15px;
}
.toolbar-top{
	background-image: url('../img/toolbar_bg.png');
	width:100%;
	text-align:center;
	font:"Arial Black";
	color: #fff;	
	padding: 10px;
	position: absolute;
	top: 0px;
	z-index: 3;
	
}

.toolbar-top > .badge-left {
	float: left;
}
.toolbar-top > .badge-right {
  	float: right;
}

.toolbar-bottom{
	background-image: url('../img/toolbar_bg.png');
	width:100%;
	text-align:center;
	font:"Arial Black";
	color: #fff;
	position: absolute;
	padding: 10px;
	bottom: 0px;
	z-index: 3;
	
}

.map {
	position: absolute;
	height: auto;
	width: 100%;
	top:60px;
	bottom:0px;
	z-index: 0;   		
}

.popup{
	color: #FFFFFF;
	font-size: large;
	background-image: url('../resources/images/popup-bg.png');
	opacity: .9;
	border-radius: 5px;
	padding: 5px;
}

#tap-instr{
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	border-radius: 4px;    		    		
	font-size: large;    		
	z-index: 10;
	text-align: center;
	position: absolute;
	bottom: 100px;
	left: 50%;
	margin-left: -130px;
}

#username{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: x-large;
}

#addPinBtn{
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	border-radius: 4px;    		    		
	font-size: large;    		
	z-index: 10;
	text-align: center;
	position: absolute;
	bottom: 60px;
	left: 50%;
	margin-left: -130px;
}
#crosshair{
	position: fixed;
}

.pushpin-description{
	float: right; 
	margin: -10px -15px;
}